.btn {
  background-color: var(--brand-900);
  color: var(--text-contrast-base);
  padding: var(--spacing-400) var(--spacing-800);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: var(--border-radius-100);
  font: var(--font-p);
  outline: 2px solid transparent;
  outline-offset: 2px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300);
}

.btn-icon-multi,
.btn-icon-start,
.btn-icon-end {
  padding-left: var(--spacing-600);
  padding-right: var(--spacing-600);
}

.btn-icon-only {
  padding-left: var(--spacing-400);
  padding-right: var(--spacing-400);
}

.btn-icon .btn:focus {
  outline-color: var(--brand-700);
}

.btn:hover {
  background-color: var(--brand-800);
}

.btn:active {
  background-color: var(--brand-950);
}

.btn:disabled {
  background-color: var(--brand-400);
  color: var(--brand-100);
}

/* Secondary State */

.btn-secondary {
  background-color: var(--brand-50);
  border-color: var(--brand-600);
  /* NOTE: These box shadows are basically inset borders */
  box-shadow: inset 0 0px 0px 1px var(--brand-600);
  color: var(--brand-800);
}

.btn-secondary:focus {
  border-color: var(--brand-600);
}

.btn-secondary:hover {
  border-color: var(--brand-800);
  box-shadow: inset 0 0px 0px 1px var(--brand-800);
  background-color: var(--brand-100);
  color: var(--brand-800);
}

.btn-secondary:active {
  background-color: var(--brand-0);
  border-color: var(--brand-950);
  box-shadow: inset 0 0px 0px 1px var(--brand-950);
}

.btn-secondary:disabled {
  background-color: var(--brand-50);
  color: var(--brand-400);
  border-color: var(--brand-300);
  box-shadow: inset 0 0px 0px 1px var(--brand-300);
}

/* Tertiary State */

.btn-tertiary {
  background-color: var(--neutral-100);
  color: var(--text-base);
}

.btn-tertiary:focus {
  outline-color: var(--brand-600);
}

.btn-tertiary:hover {
  background-color: var(--neutral-300);
}

.btn-tertiary:active {
  background-color: var(--neutral-300);
}

.btn-tertiary:disabled {
  background-color: var(--neutral-100);
  color: var(--text-disabled);
}
