.btn {
  background-color: var(--brand-600);
  color: var(--white);
  padding: var(--spacing-400) var(--spacing-700);
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-pill);
  font: var(--font-p);
}

.btn:hover {
  background-color: var(--brand-700);
}

.btn:active {
  background-color: var(--brand-800);
}

.btn-secondary {
  background-color: var(--white);
  border: 1px solid var(--brand-600);
  color: var(--brand-900);
}

.btn-secondary:hover {
  background-color: var(--brand-100);
}

.btn-secondary:active {
  background-color: var(--brand-200);
}

.btn-tertiary {
  background-color: var(--neutral-200);
  color: var(--black);
}

.btn-tertiary:hover {
  background-color: var(--neutral-300);
}

.btn-tertiary:active {
  background-color: var(--neutral-400);
}

.btn-fullWidth {
  width: 100%;
}
