h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
strong,
div,
span {
  margin: 0;
  padding: 0;
}

/* Theme Tokens: */
:root {
  /* Colors: */
  --brand-0: #ffffff;
  --brand-50: #fafafa;
  --brand-100: #f5f5f5;
  --brand-200: #e5e5e5;
  --brand-300: #d4d4d4;
  --brand-400: #a3a3a3;
  --brand-500: #737373;
  --brand-600: #525252;
  --brand-700: #404040;
  --brand-800: #262626;
  --brand-900: #171717;
  --brand-950: #0a0a0a;

  --success-100: #b2eabe;
  --success-200: #7dda96;
  --success-300: #41c872;
  --success-400: #00b452;
  --success-500: #00a037;
  --success-600: #008a21;
  --success-700: #007410;
  --success-800: #005d06;
  --success-900: #004705;

  --warning-100: #ffeaba;
  --warning-200: #ffdc8a;
  --warning-300: #ffcd5a;
  --warning-400: #ffbf2a;
  --warning-500: #e7a918;
  --warning-600: #c58c08;
  --warning-700: #a37200;
  --warning-800: #815a00;
  --warning-900: #5f4300;

  --error-100: #ffcbb6;
  --error-200: #ffa88a;
  --error-300: #ff8663;
  --error-400: #ff6641;
  --error-500: #f54626;
  --error-600: #dc290e;
  --error-700: #be0e00;
  --error-800: #9c0000;
  --error-900: #790400;

  --info-100: #c8deff;
  --info-200: #a2c9ff;
  --info-300: #79b4fc;
  --info-400: #4b9ff2;
  --info-500: #008be3;
  --info-600: #0077ce;
  --info-700: #0063b3;
  --info-800: #004f94;
  --info-900: #003c71;

  --black: #000000;
  --white: #ffffff;

  --text-base: var(--brand-950);
  --text-subtle: #222222;
  --text-disabled: #5f5f5f;
  --text-contrast-base: var(--brand-50);
  --text-contrast-subtle: #e4e4e4;
  --text-contrast-disabled: #999999;

  /* Spacing: */
  --spacing-0: 0px;
  --spacing-100: 2px;
  --spacing-200: 4px;
  --spacing-300: 8px;
  --spacing-400: 12px;
  --spacing-500: 16px;
  --spacing-600: 24px;
  --spacing-700: 32px;
  --spacing-800: 40px;
  --spacing-900: 48px;
  --spacing-1000: 64px;
  --spacing-1100: 80px;
  --spacing-1200: 96px;

  /* Shape: */
  --border-radius-100: var(--spacing-200);
  --border-radius-200: var(--spacing-300);
  --border-radius-pill: 999em;

  /* Typography */
  --base-font-size: 16px;
  /* NOTE: This is where base font size is set for this application */
  font-size: var(--base-font-size);
  --text-color: var(--brand-950);
  --font-small: normal normal 500 calc(3 / 4 * 1rem) / 1rem "Inter", sans-serif; /* 12px font size, 16px line height */
  --font-caption: normal normal 500 calc(7 / 8 * 1rem) / 1rem "Inter",
    sans-serif; /* 12px font size, 16px line height */
  --font-div: normal normal 500 1rem / calc(5 / 4 * 1rem) "Inter", sans-serif; /* 16px font size, 20px line height */
  --font-strong: normal normal 700 1rem / calc(5 / 4 * 1rem) "Inter", sans-serif; /* 16px font size, 20px line height */
  --font-span: normal normal 500 1rem / calc(5 / 4 * 1rem) "Inter", sans-serif; /* 16px font size, 20px line height */
  --font-em: italic normal 500 1rem / calc(5 / 4 * 1rem) "Inter", sans-serif; /* 16px font size, 20px line height */
  --font-p: normal normal 500 1rem / calc(5 / 4 * 1rem) "Inter", sans-serif; /* 16px font size, 20px line height */
  --font-h6: normal normal 700 calc(3 / 4 * 1rem) / calc(25 / 16 * 1rem) "Inter",
    sans-serif; /* 12px font size, 25px line height */
  --font-h5: normal normal 700 25px / calc(30 / 16 * 1rem) "Inter", sans-serif; /* 20px font size, 30px line height */
  --font-h4: normal normal 700 32px / calc(38 / 16 * 1rem) "Inter", sans-serif; /* 32px font size, 38px line height */
  --font-h3: normal normal 700 40px / calc(48 / 16 * 1rem) "Inter", sans-serif; /* 40px font size, 48px line height */
  --font-h2: normal normal 700 48px / calc(56 / 16 * 1rem) "Inter", sans-serif; /* 48px font size, 56px line height */
  --font-h1: normal normal 700 60px / calc(72 / 16 * 1rem) "Inter", sans-serif; /* 60px font size, 72px line height */
}

[data-colormode="dark"] {
  /* Colors: */
  --brand-950: #fafafa;
  --brand-900: #f5f5f5;
  --brand-800: #e5e5e5;
  --brand-700: #d4d4d4;
  --brand-600: #a3a3a3;
  --brand-500: #737373;
  --brand-400: #525252;
  --brand-300: #404040;
  --brand-200: #262626;
  --brand-100: #171717;
  --brand-50: #0a0a0a;
  --brand-0: #000000;
}
