.txt-field-label {
  display: inline-grid;
  gap: var(--spacing-200);
}

.txt-field {
  border-radius: var(--border-radius-100);
  border: 1px solid var(--brand-600);
  padding: var(--spacing-400) var(--spacing-400);
  font: var(--font-caption);
}

.txt-field::placeholder {
  font: var(--font-caption);
}
